<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
  <div class="col-8 offset-2">
    <h1>Create New Listing</h1>
    <br />
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          name="listing[title]"
          type="text"
          class="form-control"
          placeholder="e.g. Cozy Beachfront Cottage"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please fill out this field</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          name="listing[description]"
          type="text"
          class="form-control"
          placeholder="Describe your property, amenities, and highlights"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please fill out this field</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label"> Upload Listing Image: </label>
        <input name="listing[image]" type="file" class="form-control" />
        required
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            name="listing[price]"
            type="number"
            class="form-control"
            placeholder="e.g. 1500"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please fill out this field</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country:</label>
          <input
            name="listing[country]"
            type="text"
            class="form-control"
            placeholder="e.g. United States"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please fill out this field</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          name="listing[location]"
          type="text"
          class="form-control"
          placeholder="e.g. Malibu"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please fill out this field</div>
      </div>

      <button class="btn btn-dark add-btn" type="submit">Add</button>
    </form>
    <br />
    <br />
  </div>
</div>
